<section class="hero hero-contact">
  <div class="wrapper">
    <div class="text">
      <h1>{{ section.settings.title }}</h1>
      {{ section.settings.text }}
    </div>
  </div>
</section>

<section class="hero-mobile-text">
  <div class="wrapper">			
    {{ section.settings.text }}
  </div>
</section>

{% schema %}
{
  "name": "Contact Hero",
  "settings": [
    {
      "type": "html",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}
